.FormMessageTitle {
  text-align: center;
}

.MessageForm {
  border-radius: 0;
  padding-bottom: 1em;
}

.BtnIndex {
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-size: 1em;
  border: none;
  padding: .4em .6em;
  color: white;
  text-decoration: none;
  background: rgb(246, 121, 188);
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

img {
  width: 100%;
}
