/************************************
*  Estilos del header
************************************/
.HeaderTitle {
  color: rgb(228,0,127);
  font-style: italic;
}
/************************************
*  Estilos del formulario
************************************/
body {
  background: #fffacd;
  font-family: 'Open Sans', 'Roboto';
}

.MessageForm {
  box-sizing: border-box;
  background: rgb(225, 11, 128);
  border-radius: 8px;
  padding-bottom: 2em;
  padding-top: 0px;
  overflow: hidden;
}

.FormMessageTitle {
  box-sizing: border-box;
  background: rgb(246, 121, 188);
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: white;
}

.FormImgPersonaje {
  background: white;
  border-radius: 8px;
  border: 1px solid rgb(217, 215, 208);
  padding-left: 0px;
  padding-right: 0px;
}

.FormMessageText {
  box-sizing: border-box;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 8px;
  border: 1px solid rgb(217, 215, 208);
}

.FormSelectPersonaje {
  color: rgb(176, 9, 100);
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid rgb(217, 215, 208);
  height: 2em;
}

.FormAddMessageBtn {
  font-size: 1em;
  border-radius: 8px;
  border: none;
  height: 2em;
  color: white;
  background: rgb(246, 121, 188);
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.FormAddMessageBtn:hover {
  cursor: pointer;
  background: rgb(217, 103, 164);
}

.BtnClose {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  background: rgb(213, 12, 54);
  color: white;
  border: none;
  margin: 0px;
  height: 100%;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .5s;
}

.BtnClose:hover {
  cursor: pointer;
  background: rgb(182, 6, 43);
}
/************************************
*  Estilos de los mensajes
************************************/

/* ESTILOS DE LOS MENSAJES ANTIGUOS (VERSION 1) */
/***********************************************/
.ChatContainer {
  box-sizing: border-box;
  background: rgb(39, 134, 195);
  width: auto;
  padding: 1em 1em;
}

.MessageContainer {
  box-sizing: border-box;
  padding-top: 0.4em;
}

.TituloChat {
  box-sizing: border-box;
  text-align: center;
  background: white;
  padding-top: 1em;
  color: rgb(66, 66, 68);
}

.MessageCharacterName {
  color: rgb(66, 66, 68);
}

.ChatImgPersonaje {
  background: white;
  border-radius: 8px;
  border: 1px solid rgb(172, 167, 171);
  width: 100%;
}

.MessageText {
  color: rgb(66, 66, 68);
}

hr {
  border: 1px solid rgba(175, 177, 175, 0.6);
}

.SeparadorTituloChat {
  border: 1px dashed rgba(175, 177, 175, 0.6);
}

/* ESTILOS DE LOS MENSAJES TIPO WhatsApp (VERSION 2) */
/***********************************************/
.MessageTemplateContainer {
  padding-left: 1em;
  padding-right: 1em;
}

.MessageContent {
  box-sizing: border-box;
  margin-top: 1.1em;
  width: auto;
  margin-left: 20px;
}

.MessageTail {
  position: absolute;
  width: 24px;
  height: 38px;
  top: 1.1em;
  left: -3px;
  background-image: url('../img/MessageTail.png');
  background-repeat: no-repeat;
}

.MessageUserNameContainer {
  position: absolute;
  color: black;
  font-size: .8em;
  top: 0;
  left: 8px;
}

.MessageTextContainer {
  box-sizing: border-box;
  background: white;
  border-radius: 0 .5em .5em .5em;
  border-left: solid 1px rgb(209, 209, 209);
  border-bottom: solid 1px rgb(209, 209, 209);
  padding: 8px 8px;
  min-height: 28px;
  min-width: 30px
  width: auto;
}

@media screen and (max-width: 576px) {
  .MessageImgCharacter {
    width: 80%;
  }

  .MessageContent {
    margin-left: 5px;
  }

  .MessageTail {
    left: -18px;
  }
}
